archiv/textschleuder/archiv
archiv/accounts
archiv/networkviz/.vercel/project.json
archiv/networkviz/.vercel/README.txt
archiv/networkviz/node_modules
archiv/nrKandidaten/node_modules

.vercel
archiv/newfront/.env
frontend/.env